.PowerButton {
  background-color: var(--var-yang);
  color: var(--var-yin);
  padding: 0.3rem;
  border-radius: 50%;
  border: 1px solid;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  transition:
    color 0.2s,
    background-color 0.3s;
}

.PowerButton:hover {
  background-color: var(--var-yin);
  color: var(--var-yang);
  box-shadow: var(--var-yin) 0px 20px 30px -10px;
}
