.petal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 80px;
  transform-origin: 0% 50%;
  border-radius: 50%;
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@media (max-width: 768px) {
  .petal {
    width: 150px;
    height: 60px;
  }
}

.petal:hover {
  opacity: 0.7;
}
